*{
    font-family: 'inter';
    margin: 0px;
}

/* MENU SUPERIOR */

#menu-superior{
    background-color: #303030;
    color: aliceblue;
}

#titulo-superior{
    font-weight: 600;
    font-size: 60px;
    margin-left: 50px;
    padding-top: 50px;
}

#subtitulo-superior{
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
}

/* DADOS DE MERCADO */

#dados-mercado{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}

.texto-dados{
    font-size: 20px;
    font-weight: 400px;
}

.destaque-dados{
    font-size: 40px;
    font-weight: 600;
}

/* SEÇÃO COM FOTO */

#txt-com-foto{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#foto-estudio{
    width: 300px;
    margin: 50px 0px 50px 20px;
}

#txt-historia{
    margin-top: 120px;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 500;
    text-align: justify;
    color: #000000;
}

#parag-historia{
    font-size: 18px;
    font-weight: 300;
}

/* SEÇÃO FORMULARIO */

#sec-form{
    background-color: #303030;
    text-align: center;
}

#titulo-form{
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin: 25px;
    padding-top: 50px;
}

input{
    margin: 15px;
    height: 40px;
    width: 300px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    color: #333;
    background-color: #EAECE5;
}

input::placeholder{
    color: #00000040;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
}

button{
    background-color: #C07212;
    color: #EAECE5;
    margin-bottom: 50px;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    color: #FFF;
    font-family: 'raleway', sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #FF8C00;
    color: #FFF;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #05103081;
}