*{
    font-family: 'inter', sans-serif;
    margin: 0px;
}

/* MENU SUPERIOR */

#menu-superior{
    background-color: #303030;
    height: 475px;
}

#titulo-superior{
    color: #FFF;
    font-weight: 600;
    font-size: 60px;
    padding: 206px 0px 0px 62px;
}

#subtitulo-superior{
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0px 0px 62px;
}

/* DADOS DE MERCADO */

#dados-mercado{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    padding: 100px 0px 100px 62px;
}

.texto-dados{
    font-size: 20px;
    font-weight: 400px;
}

.destaque-dados{
    font-size: 40px;
    font-weight: 600;
}

/* SEÇÃO COM FOTO */

#txt-com-foto{
    display: grid;
    grid-auto-flow: column;
    margin: 80px 54px 90px 62px;
}

#foto-estudio{
    width: 510px;
    margin-left: 64px;
}

#txt-historia{
    margin-top: 200px;
    font-size: 35px;
    font-weight: 500;
    text-align: justify;
}

#parag-historia{
    font-size: 18px;
    font-weight: 300;
}

/* SEÇÃO FORMULARIO */

#sec-form{
    background-color: #303030;
    padding-top: 90px;
    text-align: center;
}

#titulo-form{
    text-align: center;
    color: #FFF;
    font-size: 32px;
}

input{
    margin-top: 35px;
    height: 45px;
    width: 480px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
}

input::placeholder{
    color: #00000040;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
}

button{
    background-color: #C07212;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 190px;
    height: 45px;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    color: #FFF;
    font-family: 'raleway', sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #ad660f;
    color: #FFF;
    transform: translateY(-3px);
    transition-duration: 0.2s;
    box-shadow: 0px 5px 5px #c0721265;
}